ion-content {
  --background: #000000; /* Fondo negro */
  color: #ffffff; /* Texto blanco por defecto */
}

ion-button {
  --border-color: #00ff00; /* Borde verde para el botón */
  --color: #00ff00; /* Texto del botón en verde */
  --background: transparent; /* Fondo transparente */
  --border-width: 2px; /* Borde más grueso para el botón */
  margin-top: 24px;
  border-radius: 4px; /* Bordes redondeados */
}

.button-container {
display: flex;        /* Usar flexbox */
justify-content: center; /* Centrar horizontalmente */
margin-top: 20px;     /* Añadir margen superior si es necesario */
}
